<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="Debug">

<!--  all->trace->debug->info->warn->error->fatal->off-->
    <Properties>
        <property name="pattern_file">%d{yyyy-MM-dd HH:mm:ss} [%t] %-5level %logger{5} - %msg%n
        </property>
        <property name="pattern_short">%d{HH:mm:ss} %-5level %logger{5} - %msg%n
        </property>
    </Properties>

    <Appenders>
        <File name="LogFile" fileName="logs/Library.log" bufferedIO="true">
            <PatternLayout pattern="${pattern_file}"/>
        </File>
    </Appenders>

    <Loggers>
        <Root level="info">
            <AppenderRef ref="LogFile"/>
        </Root>
    </Loggers>

</Configuration>
